#
# Example config file for OpenOCD like /usr/local/share/openocd/scripts/board/stm32f103c8_blue_pill.cfg
#
source [find interface/stlink.cfg]

#st-link
transport select hla_swd

# Work-area is a space in RAM used for flash programming
# By default use 32kB (Available RAM in smallest device STM32F410)
# STM32F103C6 "Blue Pill" has 10K RAM size
set WORKAREASIZE 0x2800

# STM32F103C6 "Blue Pill" has 32K FLASH size
set FLASH_SIZE 0x8000

source [find target/stm32f1x.cfg]
